<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite Scroller</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- Generate 100 numbers at the start -->
        <% for (let i=0; i <=100; i++) { %>
            <p>
                <span style="color: gray;"><%="0".repeat(10 - i.toString().length)%></span><%= i %>
            </p>
            <% } %>
    </div>
</body>

<!-- Generate numbers with each scroll -->
<script>
    let scrollingDownNumber = 100;
    let scrollingUpNumber = 1;
    // int limit 2147483647 - 10 zeros

    window.addEventListener("wheel", (event) => {
        const newNumber = document.createElement("p");

        if (event.deltaY > 0) {
            newNumber.textContent = scrollingDownNumber.toString();

            const zeros = document.createElement("span");
            zeros.textContent = "0".repeat(10 - scrollingDownNumber.toString().length);
            zeros.style.color = "gray";
            newNumber.insertBefore(zeros, newNumber.firstChild);

            document.querySelector(".container").appendChild(newNumber);
            scrollingDownNumber++;
        } else if (event.deltaY < 0) {
            // upscroll code
            newNumber.textContent = scrollingUpNumber.toString();

            const zeros = document.createElement("span");
            zeros.textContent = "-" + "0".repeat(10 - scrollingUpNumber.toString().length);
            zeros.style.color = "gray";
            newNumber.insertBefore(zeros, newNumber.firstChild);

            document.querySelector(".container").insertBefore(newNumber, document.querySelector(".container").firstChild);
            scrollingUpNumber++;
        }
    });
</script>

</html>
